.full-gallery-container {
  margin-top: 9rem;
  padding: 20px;
}

.gallery-header {
  top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color2);
  padding: 20px 20px;
  width: 100%;
  box-sizing: border-box;
}

.back-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.gallery-title {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
}
