/* src/styles/custom.css */
:root {
  /* Forzamos el fondo original (beige) */
  background-color: #d9c6b0 !important;
  color: #213547 !important; /* Puedes ajustar el color de texto si es necesario */
}

body {
  background-color: #d9c6b0 !important;
  display: block !important;
  place-items: unset !important;
  min-height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}
