:root {
    --color1: #A68F72;
    --color2: #D9C6B0;
    --color3: #8C3A27;
    --color4: #D95A4E;
    --color5: #0D0D0D;
}
.modal-overlay .modal-header {
    background-color: var(--color3);
    color: var(--color2);
    border-bottom: none;
}

.modal-header .btn-close {
    filter: brightness(0) invert(1);
}

.modal-overlay .modal-body {
    background-color: var(--color2);
    border-radius: 0 0 5px 5px;
}

.modal-overlay .form-label {
    color: var(--color5);
}

.modal-overlay .form-control {
    background-color: var(--color1) !important;
    color: var(--color5) !important;
    border: 1px solid var(--color3) !important;
}

.modal-overlay .form-control:focus, 
.modal-overlay .form-control:active {
    background-color: var(--color1) !important;
    box-shadow: none;
    border-color: var(--color4);
}

.modal-overlay .form-check-label {
    color: var(--color5);
}

/* Personalización del checkbox */
.custom-checkbox .form-check-input {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color3);  
    background-color: transparent;
    border-radius: 4px;
    transition: all 0.3s;
}

.custom-checkbox .form-check-input:checked {
    background-color: var(--color3); /* Color cuando está seleccionado */
    border-color: var(--color3);
}

.custom-checkbox .form-check-input:focus {
    box-shadow: none;
    border-color: var(--color3);
}

.custom-checkbox .form-check-label {
    color: #0D0D0D;
    padding-left: 8px;
}

/* Personalización Notificacion error */

.toast-container {
    z-index: 1050; /* Asegura que el Toast esté sobre otros elementos */
    position:absolute;
    
  }
  
  .custom-toast {
    background-color: #f8d7da !important; /* Fondo rojo claro */
    color: #721c24 !important; /* Texto rojo oscuro */
    border-left: 5px solid #dc3545; /* Borde izquierdo */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .toast-header {
    font-weight: bold;
  }
  
  .toast-close {
    cursor: pointer;
  }



